
h1 {
  font-size: 4rem !important;
}

@media only screen and (max-width: 600px) {
  .w-100 {
    height: 200px !important;
  }
}

.accordion-button{
    color: #f4faff;
}
.accordion-item {
    background-color: #d5d5d70f !important;
    border-radius: 2px !important;
}
.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 5%;
}
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}
.flex-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  color: white; /* Text color */
}

.hero-content {
  padding: 20px;
}

.navbar-brand img {
  width: 13rem;
  height: auto;
}
.nav.justify-content-end {
  background-color: rgba(0, 0, 0, 0.17) !important;
}
.nav-link {
  color: white;
  font-size: 1.2rem;
}
.w-100 {
  height: 350px;
}
.mt-0 {
  font-size: 38px;
}
.row.g-0.bg-body-secondary.position-relative p {
  font-size: 20px;
}
.nav-link:hover {
  text-decoration: none;
  color: black;
  background-color: white;
}
.navbar.bg-body-tertiary {
  background-color: rgba(0, 0, 0, 0.17) !important;
}
.row.g-0.bg-body-secondary.position-relative {
  background-color: rgba(0, 0, 0, 0.17) !important;
  color: white;
  border: 1px solid #dddddd;
  width: 80%;
  margin: 0 auto;
}
.card.footer {
  text-align: center;
  background-color: #02071b;
}

.accordion.accordion-flush .accordion-item {
  background-color: #0803410f;
  border-radius: 10px;
}

.accordion.accordion-flush .accordion-button {
  background-color: #0803410f;
  border-radius: 10px;
  border: none;
}
.accordion.accordion-flush .accordion-button:not(.collapsed) {
  color: #fff;
  background-color: #03411233;
}

.accordion.accordion-flush .accordion-button::after {
  background-image: none;
}

.accordion.accordion-flush .accordion-button:not(.collapsed)::after {
  content: "\25B4";
  float: right;
  font-size: 1.5rem;
  transform: rotate(90deg);
}

.accordion.accordion-flush .accordion-item + .accordion-item {
  border-top: 1px solid #022a522b;
}

.accordion.accordion-flush .accordion-body {
  border-radius: 10px;

}
.accordion{
    --bs-accordion-border-color: #fbfcff46;
    --bs-accordion-border-width: var(--bs-border-width);
    --bs-accordion-border-radius: var(--bs-border-radius);
    --bs-accordion-color: #f7e7e8;
}
.accordion.accordion-flush
{
    margin-bottom: 7rem !important;
}
p{
    text-align: justify;
}